# Terraform (optional for local development)
TF_VAR_subscription_id=
TF_VAR_tenant_id=

# Foundry
AZURE_OPENAI_BASE_URL=https://ecollm.openai.azure.com/openai/v1/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-nano
